.container
	.row.header
		.col.p-4.text-center
			h1.display-2 Another Planet
			p A new experiment with
				strong Threejs

.container-fluid
	.row.tlevel
		.col
	.row.blevel.fixed-bottom
		.col

.container
	.row.footer
		.col
			a(href='https://victorvergara.co/', target='_blank')
				img(src='http://victorvergara.co/src/logo.svg')
				
canvas#canvas